.navbar {
  background-color: #111111;
  color: white;
}

.logo {
  width: 330px;
  height: auto;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.has-search input {
  border-radius: 20px;
}


@media (min-width: 320px) and (max-width: 434px)   {
  
  .logo{
    width: 320px;
  }
  .navbar-toggler-icon {
    font-size: 0.8em;
  }
  
  .has-search .form-control{
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5rem;
    height: 2.1rem;
    border-radius: 50px;
    padding-left: 2.375rem;
  }
  .has-search .form-control-feedback {
    padding-left: 0.4em;
  }
}
  
  @media (max-width: 418px) {
  .logo{
    width: 290px;
  }


  @media (max-width: 388px) {
    .logo{
      width: 271px;
    }
  }
  @media (max-width: 368px) {
    .logo{
      width: 260px;
    }
  }

  @media (max-width: 358px) {
    .logo{
      width: 250px;
    }
  }

  @media (max-width: 348px) {
    .logo{
      width: 230px;
    }
  }

   @media (max-width: 338px) {
    .logo{
      width: 220px;
    }
  }
}